<header>
    <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#menuComponent">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="menuComponent">
            <a class="navbar-brand" href="#">{{menuTitle}}</a>
            <ul class="nav navbar-nav">

                <li  *ng-for="#route of routes" class="nav-item active">
                    <a class="nav-link" [router-link]="[route.url]">
                        {{route.title}}
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>